      <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 7,
        interval: 30000,
        width: 280,
        height: 500,
        theme: {
          shell: {
            background: '#666666',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#666666',
            links: '#666666'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: true,
          behavior: 'all'
        }
      }).render().setUser('roysworld').start();
      </script>